{{define "experience"}}
<section id="experience" class="experience-section">
<div class="timeline">
  <div class="experience-container left">
    <div class="experience-content">
      <img id=logo src="{{.CustomAssetPath}}images/logos/equinix.png" alt="Equinix Logo">
      <h2>2022 (Current)</h2>
      <h3>Equinix</h3>
      <h4>Staff Engineer</h4>
      <div class="experience-details">
      <p>Lorem ipsum..
awdawd

awdw
      </p>
      </div>
    <button class="see-more-btn" onclick="toggleText(this)">+</button>
    </div>
  </div>
  <div class="experience-container right">
    <div class="experience-content">
      <img id=logo src="{{.CustomAssetPath}}images/logos/sohonet.png" alt="Sohonet Logo">
      <h2>2020</h2>
      <h3>Sohonet</h3>
      <h4>Network Engineer</h4>
      <div class=experience-details>
        <p>
Lorem ipsum.

awdwad
wadw
adaw
daw

awdawd.
        </p>
      </div>
    <button class="see-more-btn" onclick="toggleText(this)">+</button>
    </div>
  </div>
  <div class="experience-container left">
    <div class="experience-content">
      <img id=logo src="{{.CustomAssetPath}}images/logos/citrix.png" alt="Citrix Logo">
      <h2>2018</h2>
      <h3>Citrix</h3>
      <h4>Network Engineer Apprentice</h4>
      <div class="experience-details">
      <p>Lorem ipsum..</p>
      </div>
    <button class="see-more-btn" onclick="toggleText(this)">+</button>
    </div>
  </div>
  <div class="experience-container right">
    <div class="experience-content">
      <img id=logo src="{{.CustomAssetPath}}images/logos/uoc.png" alt="University Of Cambridge Logo">
      <h2>2017</h2>
      <h3>Cambridge University</h3>
      <h4>Assistant Computer Officer</h4>
      <div class="experience-details">
      <p>Lorem ipsum..</p>
      </div>
    <button class="see-more-btn" onclick="toggleText(this)">+</button>
    </div>
  </div>
  </div>
</div>
</section>
{{end}}
