{{define "skills"}}
<section id="skills" class="skill-section">
    <h1>skills and passions</h1>
    <div class="skills-container">
        <div class="card skills-card">
            <div >
                <h2> kubernetes and containerisation </h2>
                <img src="{{.CustomAssetPath}}images/skills/kubernetes_logo.svg" alt="Kubernetes and Containerisation">
            </div>
            <!-- <p>I have a strong proficiency in Kubernetes and containerization, allowing me to efficiently manage, deploy, and scale applications in a cloud-native environment. My expertise in Kubernetes includes setting up and managing clusters, configuring networking and storage, and automating deployment pipelines. This skill enables me to ensure high availability, fault tolerance, and seamless scalability for complex applications. </p> -->
            <div class="card-certification">
                <img src="{{.CustomAssetPath}}images/certifications/cka.png" alt="CKA">
            </div>
        </div>
        <div class="card skills-card">
            <div >
                <h2> networking </h2>
                <img src="{{.CustomAssetPath}}images/skills/networking.png" alt="Networking">
            </div>
            <!-- <p>With a deep understanding of networking principles and protocols, I excel in designing and implementing robust network infrastructures. My skills encompass everything from configuring routers and switches to managing network security and troubleshooting connectivity issues. This expertise ensures that I can maintain a secure, high-performance network environment, facilitating smooth communication and data transfer across systems and platforms.</p> -->
            <div class="card-certification">
                <img src="{{.CustomAssetPath}}images/certifications/ccna.png" alt="CCNA">
            </div>
        </div>
        <div class="card skills-card">
            <div >
                <h2> golang </h2>
                <img src="{{.CustomAssetPath}}images/skills/golang.png" alt="Golang">
            </div>
            <!-- <p>As a proficient Golang developer, I am adept at building efficient, scalable, and maintainable software solutions. My experience with Golang includes developing high-performance web services, writing concurrent and parallel programs, and leveraging Go's powerful standard library and third-party packages. This allows me to create software that is not only robust and reliable but also optimized for speed and resource utilization.</p> -->
        </div>
        <div class="card skills-card">
            <div >
                <h2> platform </h2>
                <img src="{{.CustomAssetPath}}images/skills/platform.png" alt="Platform">
            </div>
            <!-- <p>I specialize in platform engineering, focusing on creating and managing the foundational technology layers that support application development and deployment. My skills include designing CI/CD pipelines, managing infrastructure as code, and ensuring the reliability and scalability of platform services. This expertise enables development teams to innovate faster, with a stable and efficient platform that supports their needs.</p> -->
        </div>
        <div class="card skills-card">
            <div >
                <h2> observability and monitoring </h2>
                <img src="{{.CustomAssetPath}}images/skills/otel_logo.png" alt="Otel">
            </div>
            <!-- <p>I am skilled in implementing observability and monitoring solutions to ensure the health and performance of applications and infrastructure. My expertise includes setting up logging, metrics, and tracing systems using tools like Prometheus, Grafana, and ELK Stack. This allows me to proactively identify and resolve issues, optimize performance, and maintain high levels of availability and reliability for mission-critical systems.</p> -->
        </div>
        <div class="card skills-card">
            <div >
                <h2> more! </h2>
            </div>
            <!-- <p>My diverse skill set extends beyond the specific areas mentioned, encompassing a wide range of technologies and methodologies. From DevOps practices and automation to cloud computing and software development best practices, I am always eager to learn and adapt to new challenges. This continuous learning mindset ensures that I stay at the forefront of technological advancements and can bring innovative solutions to any project.</p> -->
        </div>
    </div>
</section>
{{end}}
