{{define "splash"}}
<section class="splash-section">
  <div class="business-card">
    <div class="business-card-header">
      <img src="{{.Content.Resume.ImageURL}}" alt="Portrait" class="portrait">
      <div class="social-links">
        <a href="{{.Content.Resume.GithubURL}}" target="_blank">
          <img src="{{.CustomAssetPath}}images/logos/github.png" alt="GitHub Logo" class="social-logo">
        </a>
        <a href="{{.Content.Resume.LinkedinURL}}" target="_blank">
          <img src="{{.CustomAssetPath}}images/logos/linkedin.png" alt="LinkedIn Logo" class="social-logo">
        </a>
      </div>
    </div>
    <div class="business-card-body">
      <h1>{{.Content.Title}}</h1>
      <p class="tagline">{{.Content.Resume.Tagline}}</p>
      <nav>
        <a class="nav-link" href="#experience">> experience</a>
        <a class="nav-link" href="#portfolio">> portfolio</a>
        <a class="nav-link" href="#skills">> skills</a>
        <a class="nav-link" href="#blog">> blog</a>
      </nav>
    </div>
  </div>
</section>
{{end}}
