.section {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-to-top {
    position: fixed;
    top: 5%;
    right: 5%;
    display: none;
    z-index: 100;
}
.image-container {
    width: 90%; /* Ensure the container takes up the full width of the section */
    padding-right: 5%;
    display: flex;
    justify-content: left;
    align-items: left;
}